<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FZYWKWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>216B834E1EB0897B004609FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>216B836A1EB0897E004609FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>216B83751EB0897E004609FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
